<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708096410031-77i1qlcvrhhg0heellhq7cg57k0i2omm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708096410031-77i1qlcvrhhg0heellhq7cg57k0i2omm</string>
	<key>API_KEY</key>
	<string>AIzaSyD73UwmHEinbvhiNWfepEDeCmuMgioKQpY</string>
	<key>GCM_SENDER_ID</key>
	<string>708096410031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pacakge.com.Giphy-Swift</string>
	<key>PROJECT_ID</key>
	<string>remoteconfig-d1c05</string>
	<key>STORAGE_BUCKET</key>
	<string>remoteconfig-d1c05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:708096410031:ios:92f6f41add84dc8bebef5a</string>
</dict>
</plist>
